@model onepoint.Models.Home.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-white bg-secondary w-100 my-5">
                <div class="card-header">Settings</div>
                <div class="card-body">
                    <p><strong>@Html.LabelFor(m => m.key)</strong></p>
                    @if (Model.key != null && Model.key.Length > 0)
                    {
                        <p>@Model.key</p>
                    }
                    else
                    {
                        <table style="width:100%">
                            <tr>
                                <td>Price:</td>
                                <td>5 <i class="fas fa-euro-sign"></i></td>
                                <td><a class="btn btn-danger" style="width:100%"><i class="fas fa-shopping-cart"></i> Buy API KEY</a></td>
                            </tr>
                            <tr>
                                <td>Payments:</td>
                                <td>PayPal</td>
                                <td><i class="fab fa-cc-paypal fa-2x"></i> <i class="fab fa-cc-visa fa-2x"></i> <i class="fab fa-cc-mastercard fa-2x"></i> <i class="fab fa-cc-discover fa-2x"></i></td>
                            </tr>
                        </table>
                    }
                    
                    <hr  class="my-5" />

                    <p><strong>Credentials</strong></p>
                    @using (Html.BeginForm("Register", "Home", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.key)
                        <div class="form-group">
                            @Html.LabelFor(m => m.name)
                            @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.nameConfirm)
                            @Html.TextBoxFor(m => m.nameConfirm, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.nameConfirm, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.password)
                            @Html.TextBoxFor(m => m.password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.passwordConfirm)
                            @Html.TextBoxFor(m => m.passwordConfirm, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.passwordConfirm, "", new { @class = "text-danger" })
                        </div>

                        <button style="width:100%" type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Update
                        </button>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-light w-100 my-5">
                <div class="card-header">URLs</div>
                <div class="card-body">
                    <p><strong>m3u</strong></p>
                    <p>x_3hVnNwXgPDqu3vNwbWa5-sMpMKY5pRwwUDgOAqS1k=</p>
                    <hr />
                    <p><strong>epg</strong></p>
                    <p>x_3hVnNwXgPDqu3vNwbWa5-sMpMKY5pRwwUDgOAqS1k=</p>
                    <hr />
                    <p><strong>logos</strong></p>
                    <p>x_3hVnNwXgPDqu3vNwbWa5-sMpMKY5pRwwUDgOAqS1k=</p>
                </div>
            </div>
        </div>
    </div>
</div>